@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

label{
  font-weight: bold;
}

.req::after{
  content: "*";
  color: red;
}


input{
  padding-left:10px ;
}


