#login_wrap {
    /* background-image: url(https://i.pinimg.com/736x/57/d6/63/57d66381c77008afeebf12c77f7994aa.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #F3F1F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_box{
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0.5px;
}


#title {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    /* background-color: #FFFFFF; */
    color: black;
    margin-bottom: 20px;
}

.error {
    color: red;
}

#formData {
    width: 99.6%;
    height: 270px;
    display: grid;
    gap: 10px;
    /* border: 1px solid rgb(144, 187, 25); */
}


.input-group {
    width: 99.8%;
}

.input{
    width: 95%;
    height: 40px;
    /* padding: 10px; */
    padding-left: 13px;
    border-radius: 5px;
    background-color: #fff;
}


#login-box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    padding: 20px 15px 0 15px ;
}

#log_btn{
    border: 1px solid black;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #132E35;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#log_btn:hover {
    background-color: white;
    color: #132E35;
    border: 1px solid #132E35;
}