#SideNavbar {
    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #132E35;
    background-color:white;
    height: 91.7%;
    position: fixed;
    left: 0;
    top: 60px; 
}

.sideNavbarItem {
    text-align: center;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #10292c;
    transition: 0.3s;
}

.sideNavbarItem:hover {
    background-color: #1b464b;
    color: white;
}

#logoutNavBar {
    cursor: pointer;
    background-color: #7a2020;
    color: white;
    height: 50px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutNavBar:hover {
    background-color: darkred;
}





