#SideNavbar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #132E35;
    background-color:white;
    height: 91.7%;
    position: fixed;
    left: 0;
    top: 60px; 
}

.sideNavbarItem {
    text-align: center;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #10292c;
    transition: 0.3s;
}

.sideNavbarItem:hover {
    background-color: #1b464b;
    color: white;
}

#logoutNavBar {
    cursor: pointer;
    background-color: #7a2020;
    color: white;
    height: 50px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutNavBar:hover {
    background-color: darkred;
}





@media screen and (max-width: 768px) {
    #SideNavbar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        transform: translateX(-100%);
        z-index: 1000;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    #SideNavbar.open {
        transform: translateX(0);
    }

    #hamburgerMenu {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1100;
        cursor: pointer;
        background-color: transparent;
    }
}
