#nav-div{
    background-image: url(https://theplayerauction.com/imgs/sports.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid  black;
    height: 90vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}