#nav {
    color: black;
    background-color:  #0E846C;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
    position: fixed;
    width: 97.8%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

#nav.scrolled {
    background-color: #0F2228;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav_btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}

.btn {
    background-color: transparent;
    width: 110px;
    padding: 8px;
    border: 1px solid #AFB3B7;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #10B981;
    color: white;
    transform: scale(1.05);
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s;
}

.profile-icon:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 160px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.logout-btn {
    border: none;
    background: none;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    .nav_btn {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .btn {
        width: 100%;
    }

    .profile-container {
        margin-top: 10px;
    }
}
