#register-container {
    height: 88.7vh;
    background-color: #F3F1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid black;
}


#register-box {
    width: 34%;
    height: 520px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0.5px;
}

#title {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}

#form {
    width: 99.6%;
    height: 300px;
    display: grid;
    gap: 5px;
}

.sub-div{
    /* border:  1px solid black; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.sub-div > .input-group{
    width: 245px;
}

.input-group{
    height: 100px;
}

.input {
    width: 95%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1b1919;
}

.error-message {
    color: red;
    font-size: 14px;
}

#register-box-footer{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* #register-box-footer > #reg-btn,#registed{
    border: 1px solid black;
} */


#reg-btn {
    border: 1px solid #132E35;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #132E35;
    font-size: 16px;
    cursor: pointer;
}

#reg-btn:hover {
    background-color: #132E35;
    color: white;
}

